<div class="main">
  <div class="row">
    <div class="" style="background-color: teal">
      <div class="col-header">About Me</div>
    </div>
  </div>
  <div class="row">
    <div class=""style="background-color: salmon">
      <div class="col-header">Education</div>
    </div>
  </div>
  <div class="row">
    <div class=""style="background-color: pink">
      <div class="col-header">Work Experience</div>
    </div>
  </div>
  <div class="row">
    <div class=""style="background-color: silver">
      <div class="col-header">Skills</div>
    </div>
  </div>
  <div class="row">
    <div class=""style="background-color: brown">
      <div class="col-header">Hobbies</div>
    </div>
  </div>
</div>