/* Main content */
.main {
  margin-top: 51px; /* Add a top margin to avoid content overlay */
}

/*Customize main screen*/
.carousel-inner{
  max-height: 800px !important;
}

.carousel-item > .item > img{
   min-width: 100%;
}